<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Proyecto Redes</title></head>

<body bgcolor="#99ccff">
<div align="center"><strong><h1>Buscar un Estudiante</h1></strong>
  
  <form method="post" action="/consultar">

    <label>C&oacute;digo</label>
    <input name="tfcodigo" type="text" value="" />

    <br><br>

    <input type="submit" name="Submit" value="Consultar" class="boton"/>

  </form>  
  
<p align="center">&nbsp;</p>
</div>
</body>
</html>

<style type = "text/css"> 
.boton { 
font-size: 15px;
font-weight: bold;
width: 90px;
height: 30px;
} 

.boton:hover {
 box-shadow: inset 0 0 0 3px #3a7999;
}

</style> 