<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Proyecto Redes</title></head>

<body bgcolor="#99ccff">
<div align="center"><strong><h1>Bienvenido a la Aplicaci&oacute;n Maneja Estudiante<h1></strong>

<h1>¿Qué desea hacer?<h1>
  
  <table>

  <tr>

  <td><form method="post" action="/buscar">

    <input type="submit" name="Submit" value="Consultar" class="boton"/>

  </form></td>
  
  <td><form method="post" action="/crear">

    <input type="submit" name="Submit2" value="Guardar" class="boton"/>

  </form></td>

  </tr>
  </table>
  
<p align="center">&nbsp;</p>

</div>

</body>
</html>

<style type = "text/css"> 
.boton { 
font-size: 15px;
font-weight: bold;
width: 90px;
height: 30px;
} 

.boton:hover {
 box-shadow: inset 0 0 0 3px #3a7999;
}

</style> 